<%= form_with(url: "/search", method: "get") do %>
  <%= label_tag('address', "Procurar endereço", class: "label") %>

  <div class="field">
    <div class="control">
      <%= text_field_tag 'address', nil, placeholder: 'e. g. Av. Silvio Carlos Viana, 2183', class: 'input' %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= submit_tag("Procurar", class: 'button is-primary is-link') %>
    </div>
  </div>
  
<% end %>